.app{
  height: 100%;
}
.home{
  height: 100%;
}
.hero{
  height: 20rem;
  position: relative;
  &__image{
    background-image: url("https://images.unsplash.com/photo-1513151233558-d860c5398176?ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80");
    // width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__title{
    &--name{
      color: rgb(247, 247, 239);
      text-shadow: 4px 2px rgb(0, 52, 65);
      position: absolute;
      width: 100%;
      text-align: center;
      top: 4rem;
      right: 50%;
      transform: translateX(50%) translateY(50%);
      font-size: 3.5rem;
      font-weight: 800;
    }
    &--info{
      color: rgb(0, 52, 65);
      text-shadow: 1px 1px rgba(250, 250, 237, 0.8);
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 1rem;
      right: 50%;
      transform: translateX(50%);
      font-size: 2rem;
      font-weight: 700;
    }
  }
}
.gameForm{
  background: rgb(0, 52, 65);
  height: 40%;
  &__form{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px rgba(0, 24, 29, 0.845);
    text-align: center;
    font-size: 1.25rem;

    select{
      margin: 0.5rem;
      background: white;
      border: 2px solid black;
      border-radius: 4px;
      width: 15rem;
      padding: 0.5rem;
      font-size: 1rem;
    }
    button{
      width: 10rem;
      margin: 1.5rem 0;
      background: rgb(5, 183, 199);
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 4px;
      color: white;
      font-size: 1.5rem;
      text-shadow: 1px 1px rgb(0, 52, 65);
      font-weight: 700;
      &:hover{
        background: rgb(169, 59, 135);
      }
    }
  }
}
.gameHeader{
  background: black;
  color: white;
  height: 1.75rem;
  display: flex;
  justify-content: center;
}
.game{
  position: relative;
  height: auto;
  background: rgb(0, 52, 65);
  padding: 1.5rem;
  &__stats{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    color: white;
  }
  &__exit{
    position: relative;
    margin: 1rem;
    
    button{
      width: 10rem;
      background: rgb(5, 183, 199);
      padding: 0.5rem;
      border: 1px solid black;
      border-radius: 4px;
      color: white;
      font-size: 1.5rem;
      text-shadow: 1px 1px rgb(0, 52, 65);
      font-weight: 700;
      &:hover{
        background: rgb(169, 59, 135);
      }
    }
  }
}
.gameScore{
  position: relative;
  height: 90vh;
  background: rgb(0, 52, 65);
  color: white;
  padding: 1.5rem;
  button{
    width: 15rem;
    margin: 1.5rem 0;
    background: rgb(5, 183, 199);
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
    font-size: 1.5rem;
    text-shadow: 1px 1px rgb(0, 52, 65);
    font-weight: 700;
    &:hover{
      background: rgb(169, 59, 135);
    }
  }
}
.questionCard{
  min-height: 75%;
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  background: #CFCFCF;
  border: 1px solid black;
  border-radius: 4px;
  &__question{
    padding: 0.25rem;
    margin: 1rem; 
  }
  &__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li{
      &:hover{
        background: lightcyan;
      }
      &:active{
        background: rgb(243, 175, 227);
      }
      list-style: none;
      background: white;
      margin: 0.5rem;
      padding: 0.25rem;
      border: 1px solid black;
      border-radius: 4px;
      text-align: center;
      font-size: 1.2rem;
      width: 75%;
    }
  }
}
.footer{
  position: relative;
  height: 4rem;
  background: rgb(5, 170, 191);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  h3{
    width: 75%;
    text-align: center;
    margin: 1rem 0;
    font-size: 0.75rem;
  }
  h5{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    align-self: flex-start;
    font-size: 0.5rem;
  }
}